<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amadeus.mybatisdemo.mapper.ArticleInfoMapper">


    <select id="queryArticleInfoById" resultType="com.amadeus.mybatisdemo.model.ArticleInfo">
        SELECT ta.* ,
        tb.username,
        tb.age,
        tb.gender,
        tb.phone
        FROM article_info ta
        left join user_info tb
        on ta.uid= tb.id
        where ta.id=#{articleId}
    </select>
</mapper>
